<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class='container'>
      <ul class='nav nav-tabs'>
        <li role='presentation'>
          <a href='#game' id='game-link'>Answer Questions</a>
        </li>
        <li role='presentation'>
          <a href='#admin' id='admin-link'>Edit Questions</a>
        </li>
      </ul>
      <div id='react-root'></div>
    </div>
    <script src='static/bundle.js'></script>
  </body>
</html>
