<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  </head>
  <body>
    <div class='container'>
      <ul class='nav nav-tabs'>
        <li role='presentation' class='active'>
          <a href='#' id='game-link'>Answer Questions</a>
        </li>
        <li role='presentation'>
          <a href='#' id='admin-link'>Edit Questions</a>
        </li>
      </ul>
      <div id='react-root'></div>
    </div>
    <script src='static/bundle.js'></script>
  </body>
</html>
